\documentclass[12pt, letterpaper, oneside]{article}
\usepackage[utf8]{inputenc}
\usepackage{graphicx}
\usepackage{xltabular}
\usepackage{pgfplots}
\usepackage{chronology}
\usepackage{tkz-euclide}
\usepackage{layout}

\hoffset=-1.5cm

\newcommand{\sent}[3][e]{%
    \pgfmathsetlength\xstop{(#2-\theyearstart)*\unit}%
    \ifx #1e%
        \draw[fill=green,draw=none,opacity=1]%
            (\xstop, 0) circle (.5\unit)%
            node[opacity=1,rotate=0] {#3};%
    \else%
        \pgfmathsetlength\xstart{(#1-\theyearstart)*\unit}%
        \draw[fill=green,draw=none,opacity=1,rounded corners=.2\unit]%
            (\xstart,-.2\unit) rectangle%
            node[opacity=1,rotate=0,above=.0\unit] {#3} (\xstop,.2\unit);%
    \fi}%

\newcommand{\opened}[3][e]{%
    \pgfmathsetlength\xstop{(#2-\theyearstart)*\unit}%
    \ifx #1e%
        \draw[fill=yellow,draw=none,opacity=1]%
            (\xstop, 0) circle (.5\unit)%
            node[opacity=1,rotate=0] {#3};%
    \else%
        \pgfmathsetlength\xstart{(#1-\theyearstart)*\unit}%
        \draw[fill=yellow,draw=none,opacity=1,rounded corners=.2\unit]%
            (\xstart,-.2\unit) rectangle%
            node[opacity=1,rotate=0,above=.0\unit] {#3} (\xstop,.2\unit);%
    \fi}%

\newcommand{\clicked}[3][e]{%
    \pgfmathsetlength\xstop{(#2-\theyearstart)*\unit}%
    \ifx #1e%
        \draw[fill=orange,draw=none,opacity=1]%
            (\xstop, 0) circle (.5\unit)%
            node[opacity=1,rotate=0] {#3};%
    \else%
        \pgfmathsetlength\xstart{(#1-\theyearstart)*\unit}%
        \draw[fill=orange,draw=none,opacity=1,rounded corners=.2\unit]%
            (\xstart,-.2\unit) rectangle%
            node[opacity=1,rotate=0,above=.0\unit] {#3} (\xstop,.2\unit);%
    \fi}%

\newcommand{\submitted}[3][e]{%
    \pgfmathsetlength\xstop{(#2-\theyearstart)*\unit}%
    \ifx #1e%
        \draw[fill=red,draw=none,opacity=1]%
            (\xstop, 0) circle (.5\unit)%
            node[opacity=1,rotate=0] {#3};%
    \else%
        \pgfmathsetlength\xstart{(#1-\theyearstart)*\unit}%
        \draw[fill=red,draw=none,opacity=1,rounded corners=.2\unit]%
            (\xstart,-.2\unit) rectangle%
            node[opacity=1,rotate=0,above=.0\unit] {#3} (\xstop,.2\unit);%
    \fi}%




\title{Rapport campagne phishing}
\author{Auteur}

\date{February 2014}

\begin{document}

\begin{titlepage}
\maketitle
\end{titlepage}

\section{Campagnes}
\BLOCK{ for campaign in campaigns }
    \subsection{\VAR{campaign["name"]}}
    \subsubsection{Parametres de la campagne}
    Parametres de la page :
    \\
    \\
    \begin{tabular}{|l|c|r|}
        \hline
        Nom de la page & \VAR{campaign["landing_name"]}\\
        \hline
        URL d'arrivee & \VAR{campaign["url"]}\\
        \hline
        Capture des donnees &  \VAR{campaign["credentials"]}\\
        \hline
        Capture des mots de passe & \VAR{campaign["passwords"]}\\
        \hline
        URL de redirection & \VAR{campaign["redirect"]}\\
        \hline
    \end{tabular}
    \\
    \\
    \includegraphics[width=13cm]{\VAR{campaign["landing_html_rendered"]}}
    \\
    \\
    Parametres du mail :
    \\
    \\
    \begin{tabular}{|l|c|r|}
        \hline
        Nom du Template & \VAR{campaign["email_name"]}\\
        \hline
        Objet du mail & \VAR{campaign["email_subject"]}\\
        \hline
    \end{tabular}
    \\
    \\
    \includegraphics[width=13cm]{\VAR{campaign["email_html_rendered"]}}
    \\
    \\
    Parametres generaux
    \\
    \\
    \begin{tabular}{|l|c|r|}
        \hline
        Date de lancement & \VAR{campaign["launch_date"]}\\
        \hline
        Date de fin d'envoi & \VAR{campaign["launch_by_date"]}\\
        \hline
        Date de Fin & \VAR{campaign["completed_date"]}\\
        \hline
    \end{tabular}
    \subsubsection{Resultats}
        \begin{tikzpicture}
            \begin{axis}[
              ybar,
              enlargelimits=0.15,
              legend style={at={(0.5,-0.2)},
                anchor=north,legend columns=-1},
              ylabel={Nombre mails},
              symbolic x coords={Envoye,Ouvert,Clic,Donnees},
              xtick=data,
              nodes near coords, 
              nodes near coords align={vertical},
              x tick label style={rotate=45,anchor=east},
              ]
              \addplot coordinates {(Envoye,\VAR{campaign["stat"]["sent"]}) (Ouvert,\VAR{campaign["stat"]["opened"]}) 
                  (Clic,\VAR{campaign["stat"]["clicked"]}) (Donnees,\VAR{campaign["stat"]["submitted"]})};
            \end{axis}
          \end{tikzpicture}
            \begin{tikzpicture}
            \begin{axis}[
              ybar,
              enlargelimits=0.15,
              legend style={at={(0.5,-0.2)},
                anchor=north,legend columns=-1},
              ylabel={Pourcentage},
              symbolic x coords={Envoye,Ouvert,Clic,Donnees},
              xtick=data,
              nodes near coords, 
              nodes near coords align={vertical},
              x tick label style={rotate=45,anchor=east},
              ]
              \addplot coordinates {(Envoye,\VAR{campaign["stat_perc"]["sent"]}) (Ouvert,\VAR{campaign["stat_perc"]["opened"]}) 
                  (Clic,\VAR{campaign["stat_perc"]["clicked"]}) (Donnees,\VAR{campaign["stat_perc"]["submitted"]})};
            \end{axis}
          \end{tikzpicture}
          \newpage
            \begin{tikzpicture}
                      \begin{axis}[
                      bar width=0.5cm,
                      width=18cm,
                      height=10cm,
                          ybar,
                          enlargelimits=0.15,
                          legend style={at={(0.5,-0.15)},
                            anchor=north,legend columns=-1},
                          ylabel={Nombre mails},
                          symbolic x coords={Envoye,Ouvert,Clic,Donnees},
                          xtick=data,
                          nodes near coords,
                          nodes near coords align={vertical},
                          ]
                      \BLOCK{ for position in campaign["positions"] }
                      \addplot coordinates {(Envoye,\VAR{position['sent']}) (Ouvert,\VAR{position['opened']}) (Clic,\VAR{position['clicked']}) (Donnees,\VAR{position['submitted']})};
                      \BLOCK{ endfor }
                      \legend{\BLOCK{ for position in campaign["positions"] }\VAR{position['name']},\BLOCK{ endfor }}
                      \end{axis}
                \end{tikzpicture}
                \begin{tikzpicture}
                      \begin{axis}[
                      bar width=0.5cm,
                      width=18cm,
                      height=10cm,
                          ybar,
                          enlargelimits=0.15,
                          legend style={at={(0.5,-0.15)},
                            anchor=north,legend columns=-1},
                          ylabel={Pourcentage},
                          symbolic x coords={Envoye,Ouvert,Clic,Donnees},
                          xtick=data,
                          nodes near coords,
                          nodes near coords align={vertical},
                          ]
                      \BLOCK{ for position in campaign["positions_perc"] }
                      \addplot coordinates {(Envoye,\VAR{position['sent']}) (Ouvert,\VAR{position['opened']}) (Clic,\VAR{position['clicked']}) (Donnees,\VAR{position['submitted']})};
                      \BLOCK{ endfor }
                      \legend{\BLOCK{ for position in campaign["positions_perc"] }\VAR{position['name']},\BLOCK{ endfor }}
                      \end{axis}
                \end{tikzpicture}
            \newline
            \begin{chronology}[10]{0}{100}{100ex}[\textwidth]
            \BLOCK{ for event in campaign["timeline"] }
            \\VAR{event["status"]}{\VAR{event["adv"]}}{}
            \BLOCK{ endfor }
            \end{chronology}
            \begin{tikzpicture}
                \tkzDefPoint(0,1.5){A}
                \tkzDefPoint(0,1){B}
                \tkzDefPoint(0,0.5){C}
                \tkzDefPoint(0,0){D}
                \tkzDrawPoint[color=green,fill=green](A)
                \tkzDrawPoint[color=yellow,fill=yellow](B)
                \tkzDrawPoint[color=orange,fill=orange](C)
                \tkzDrawPoint[color=red,fill=red](D)
                \tkzLabelPoint[right](A){$Evoi$}
                \tkzLabelPoint[right](B){$Ouverture$}
                \tkzLabelPoint[right](C){$Clic$}
                \tkzLabelPoint[right](D){$Donnees$}
            \end{tikzpicture}
                                \\
                    \\
                    \\
                    Criticite des donnees : 
                    \\
                    \\
                    \VAR{campaign['critical']}
                    \\
\BLOCK{ endfor }
\end{document}